In [1]:
# Import libraries and datafiles
import pandas as pd

train = pd.read_csv("C:/Users/Jeremy/Desktop/Jobs/Companies/Dell/During Program/Final Project/Data/train.csv")
test = pd.read_csv("C:/Users/Jeremy/Desktop/Jobs/Companies/Dell/During Program/Final Project/Data/test.csv")

In [6]:
# Examine structure of dataframe
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [53]:
# Look at number of people who survived

surv_count = train.groupby("Survived")["PassengerId"].count().rename("count")
surv_perc = (surv_count.rename("perc"))/len(train)
pd.concat([surv_count, surv_perc], axis = 1)

          count      perc
Survived
0           549  0.616162
1           342  0.383838

In [16]:
# Create new column in test set with our prediction that everyone dies
test["Survived"] = 0

In [21]:
# Create submission dataframe and output to file
submit = test[["PassengerId", "Survived"]].copy()
submit.to_csv("theyallperish_Python.csv", index = False)