In [42]:
# Import libraries and datafiles
import pandas as pd
import numpy as np

train = pd.read_csv("C:/Users/Jeremy/Desktop/Jobs/Companies/Dell/During Program/Final Project/Data/train.csv")
test = pd.read_csv("C:/Users/Jeremy/Desktop/Jobs/Companies/Dell/During Program/Final Project/Data/test.csv")

In [29]:
# Look at gender patterns (Gender Count)
train.groupby("Sex")["PassengerId"].count()

Sex
female    314
male      577
Name: PassengerId, dtype: int64

In [30]:
# Look at gender patterns (Gender x Survived, % of Total)
pd.crosstab(train["Sex"], train["Survived"])/len(train)

Survived         0         1
Sex
female    0.090909  0.261504
male      0.525253  0.122334

In [31]:
# Look at gender patterns (Gender x Survived, % of Gender)
pd.crosstab(train["Sex"], train["Survived"]).apply(lambda x: x/x.sum(), axis = 1)

Survived         0         1
Sex
female    0.257962  0.742038
male      0.811092  0.188908

In [32]:
# Create new column in test set with our prediction that everyone but women die
test["Survived"] = test["Sex"].apply(lambda x: 1 if x == "female" else 0)

In [33]:
# Create submission dataframe and output to file
submit = test[["PassengerId", "Survived"]].copy()
submit.to_csv("gendermodel_Python.csv", index = False)

In [34]:
# Look at age patterns (Summary of Age data)
train["Age"].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [38]:
# Look at age patterns
train["Child"] =  train["Age"].apply(lambda x: 1 if x < 18 else 0)

age_table = train.groupby(["Child", "Sex"])["Survived"].agg(["sum", "count"])
age_table["perc"] = age_table["sum"]/age_table["count"]
age_table

              sum  count      perc
Child Sex
0     female  195    259  0.752896
      male     86    519  0.165703
1     female   38     55  0.690909
      male     23     58  0.396552

In [41]:
# Look at class and fare patterns
train["Fare2"] = train["Fare"].apply(lambda x: "<10" if x < 10 else "10-20" if x < 20 else "20-30" if x < 30 else "30+")

train.groupby(["Fare2", "Pclass", "Sex"])["Survived"].mean()

Fare2  Pclass  Sex
10-20  2       female    0.914286
               male      0.158730
       3       female    0.581395
               male      0.236842
20-30  1       female    0.833333
               male      0.400000
       2       female    0.900000
               male      0.160000
       3       female    0.333333
               male      0.125000
30+    1       female    0.977273
               male      0.383721
       2       female    1.000000
               male      0.214286
       3       female    0.125000
               male      0.240000
<10    1       male      0.000000
       2       male      0.000000
       3       female    0.593750
               male      0.111538
Name: Survived, dtype: float64

In [46]:
# Create new column in test set with our prediction that everyone dies
test["Survived"] = np.select([(test["Sex"] == "female") & (test["Pclass"] == 3) & (test["Fare"] >= 20), test["Sex"] == "female"], [0, 1])

In [49]:
# Create submission dataframe and output to file
submit = test[["PassengerId", "Survived"]].copy()
submit.to_csv("genderclassmodel_Python.csv", index = False)